/* * {
    border: 1px solid #000;
} */

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

/*HEADER*/
.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
}

.header input {
    grid-area: 1/1;
    border-radius: 20px;
    height: 25px;
    background-color: lightblue;
}

.header #name1 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.header .greet-div {
    grid-column: 1;
    grid-row: 2;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

.header li {
    list-style: none;
}

.header a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: rgb(20, 175, 236);
    padding: 13px 40px;
    border-radius: 40px;

}

/*SIDEBAR*/
.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    gap: 1vh;
    background-color: rgb(20, 175, 236);
    color: white;
    display: grid;
    grid-template-rows: 2fr 4fr 2fr 4fr;
    justify-items: left;
    padding-left: 3vw;
}

.sidebar ul {
    padding-left: 0px;
}

.sidebar li {
    display: block;
    font-size: xx-large;
    list-style: none;
    list-style-type: none;
    padding-top: 2vh;
    font-weight: bold;

}

.sidebar a {
    text-decoration: none;
    color: white;
}

/*CONTENT*/

.content {
    border-top-style: inset;
    padding: 3vw;
    background-color: lightblue;
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1;
    grid-row: 1/3;
    background-color: white;
}


/*TRENDING BOX*/


.content-container {
    padding-top: 20px;
    background-color: white;
    height: 80%;
    border-radius: 20px;

}

#trending-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25%;
    list-style: none;
}


.user a {
    text-decoration: none;
    color: black;
}

.user .project-title {
    color: gray;
}

/*ANNOUNCEMENT BOX*/


/*PROJECTS BOX*/

.card-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.projects {
    background-color: lightblue;
}

.card {
    background-color: white;
    border-radius: 20px;
    border-left: 7px solid orange;
}